language:
  - cpp
compiler:
  - clang
  - gcc
#addons:
#  apt:
#    sources:
#      - ubuntu-toolchain-r-test
install:
  - sudo apt-get install libgtest-dev
  - cd /usr/src/gtest
  - sudo env "PATH=$PATH" cmake .
  - sudo make
  - sudo mv libgtest* /usr/lib/
  - cd "${TRAVIS_BUILD_DIR}"
script:
  - cmake -G "Unix Makefiles" .
  - make
