language: cpp
compiler:
  - clang
  - gcc
install:
  - sudo apt-get install libgtest-dev
script:
  - cd /usr/src/gtest
  - ls -al
  - sudo cmake CMakeLists.txt
  - sudo make
  - sudo cp *.a /usr/lib
  - cd -
  - cmake -G "Unix Makefiles" .
  - make
